*{
	padding: 0px;
	margin: 0px;
	font-family: Century Gothic, sans-serif;
}

#map-canvas {
        width:100%;
	height: 400px;
}

.menu ul{
	margin-top: 10px;
	list-style: none;
	text-align: center;
}

.menu ul li{
	padding: 5px;
	background: #F3F3F3;
	border: solid 1px #D3D3D3;
	margin: 1px;
	border-radius: 5px 5px 5px 5px;
	background: -moz-linear-gradient(#EEE,#DDD);
	background: -webkit-linear-gradient(#EEE,#DDD);
	background: -o-linear-gradient(#EEE,#DDD);
	background: -ms-linear-gradient(#EEE,#DDD);
	background: linear-gradient(#EEE,#DDD);
}

.menu ul li:hover{
	padding: 5px;
	background: #0080FF;
	color: #fff;
	background: -moz-linear-gradient(#2E9AFE,#0080FF);
	background: -webkit-linear-gradient(#2E9AFE,#0080FF);
	background: -o-linear-gradient(#2E9AFE,#0080FF);
	background: -ms-linear-gradient(#2E9AFE,#0080FF);
	background: linear-gradient(#2E9AFE,#0080FF);
	border: solid 1px #0174DF;
	cursor: pointer;
	margin: 1px;
}

.tile{
	width: 300px;
	padding: 20px;
	margin: 10px;
	background: #0174DF;
	color: white;
}

.contact-avatar{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50px 50px 50px 50px;
	border-bottom: solid 5px #74DF00;
}

.closed-window .contact-name img, .opened-window .contact-name img{
	width: 10px;
}

#banner .page-title{
	float: left;
	margin-left: 270px;
}

#banner img, #banner .tile{
	float: right;
}

#banner .tile{
	font-size: 28px;
	margin-top: 30px;
}

.contact-avatar img{
	width: 65px;
	height: auto;
}

.chat-status{
	float: right;
}

.contact-list{
	display: block;
	position: fixed;
	width: 250px;
	height: 100%;
	background: #fff;
	font-size: 12px;
	box-shadow: 1px 1px 4px #D3D3D3;
	list-style: none;
	top: 50px;
}

#banner{
	text-align: right;
	background: -moz-linear-gradient(#F3F3F3,#fff);
	background: -webkit-linear-gradient(#F3F3F3,#fff);
	background: -o-linear-gradient(#F3F3F3,#fff);
	background: -ms-linear-gradient(#F3F3F3,#fff);
	background: linear-gradient(#F3F3F3,#fff);
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #434343;
}

#banner img{
	width: 300px;
}

#content{
	padding-left: 250px; 
}

.contact-list li{
	padding: 10px;
	border-bottom: solid 1px #D3D3D3;
}

.contact-list li:hover{
	cursor: pointer;
	background-color: #F7F7F7;
}

.contact-list .contact-avatar, .contact-list .contact-name{
	float: left;
}

.contact-list .contact-name{
	text-shadow: 1px 1px 4px #D3D3D3;
	color: #636363;
}

.contact-name{
	padding-left: 10px;
	padding-top: 10px;
	font-size: 13px;
}

.chat-area{
	position: fixed;
	right: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
}

.closed-window, .opened-window{
	float: right;
	width: 200px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
}

.chat-messages{
	overflow: auto;
	font-size: 12px; 
	color: #636363;
}

.chat-messages .message-sent, .chat-messages .message-received{
	padding: 5px;
} 

.opened-window{
	height: 250px;
	background-color: #fff;
	border: solid 1px #D3D3D3;
	top: -220px;
}

.opened-window .chat-messages{
	height: 180px;
}

.chat-tools .message-box{
	height: 35px;
	width: 50%;
}

.chat-tools .send-message{
	width: 25%;
	height: 37px;
}

.chat-tools *{
	float: left;
}

.chat-tools .attach{
	width: 24%;
	height: 37px;
}

.chat-tools .attach img{
	width: 30px;
}

.opened-window .contact-name{
	background-color: #222;
	display: block;
	color: #fff;
	padding-bottom: 5px;
}

.opened-window .contact-name, .closed-window .contact-name{
	text-align: center; font-weight: bold;
}

.closed-window{
	background: -moz-linear-gradient(#EEE,#DDD);
	background: -webkit-linear-gradient(#EEE,#DDD);
	background: -o-linear-gradient(#EEE,#DDD);
	background: -ms-linear-gradient(#EEE,#DDD);
	background: linear-gradient(#EEE,#DDD);
	color:#333;
	box-shadow: 1px 2px 3px #939393;
	border: solid 1px #D3D3D3;
	padding-bottom: 4px;
	top: -4px;
}


.contact-header{
	background-color: #F3F3F3;
	width: 250px;
	position: fixed;
	box-shadow: 1px 1px 4px #D3D3D3;
	padding-bottom: 10px;
	padding-top: 10px;
}

.contact-header p{
	text-align: center;
	padding: 5px;
	color: #636363;
}